
\.vs/SM64DSe/v15/Server/sqlite3/storage\.ide-shm

\.vs/SM64DSe/v15/Server/sqlite3/storage\.ide-wal
bin/Release/build
bin/Release/Tmp.nds
bin/Release/.ninja_deps
bin/Release/.ninja_log
bin/Release/build.ninja
bin/Debug
obj/Debug/SM64DSe.csproj.FileListAbsolute.txt
obj/Release/SM64DSe.csproj.FileListAbsolute.txt
obj/Release/SM64DSe.csproj.FilesWrittenAbsolute.txt
obj/Debug
obj/
.vs/