name: Build and Release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.1
        
      - name: Update AssemblyInfo.cs with version from tag
        run: |
          sed -i "s/AssemblyInformationalVersion(\".*\")/AssemblyInformationalVersion(\"$GITHUB_REF_NAME\")/" Properties/AssemblyInfo.cs
          sed -i "s/AssemblyCodeSource(\".*\")/AssemblyCodeSource(\"$GITHUB_REPOSITORY\")/" Properties/AssemblyInfo.cs

      - name: MSBuild
        working-directory: .
        run: msbuild SM64DSe.csproj -p:Configuration=Release

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: bin/release.zip
